html,
<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

body {
  overflow-y: scroll; 
}
=======
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{overflow: hidden;}

a{
  text-decoration: none;
}
>>>>>>> 3de3b527cf41b12ca0381bc251df9af783333907
